<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<% if (data.confirmacion == 1) { %>
<p>Inicio de session correcto</p>
<% } else if (data.confirmacion == 0){ %>
<p>El usuario y la contraseña no coinciden</p>
<% } %>
<a href="/">Torna a l'index</a>
</body>
</html>